<mat-card>
    <div>
      <mat-card-header style="height: 100px;">
        <button class="buttonleave" (click)="openpopup(viewLeaveForm)" mat-raised-button color="primary"  matTooltip="Click to Leave">Add Leave
      (+)</button>
    </mat-card-header>
    </div>


</mat-card>


<!-- <h2>Simple Angular mat-table</h2> -->

<mat-form-field class="searchbox mt-5">
  
  <input matInput (keyup)="applyFilter($event)" placeholder="Search record" />
  
</mat-form-field>
<mat-label style="font-family: 'Poppins', sans-serif;" class="input">Search Box</mat-label>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element">{{element.id}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef>Start Date</th>
      <td mat-cell *matCellDef="let element">{{element.startDate}}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef>End Date</th>
      <td mat-cell *matCellDef="let element">{{element.endDate}}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="Reason">
      <th mat-header-cell *matHeaderCellDef>Reason</th>
      <td mat-cell *matCellDef="let element">{{element.Reason}}</td>
    </ng-container>

    <!-- <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">Edit</td>
      <td mat-cell *matCellDef="let element">Delete</td>
    </ng-container> -->
    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button matTooltip="Click to Edit" class="iconbutton" color="primary">
            <mat-icon aria-label="Edit">edit</mat-icon>
          </button>
        <button mat-icon-button matTooltip="Click to Delete" class="iconbutton" color="warn"  (click)="onDelete(element.id)">
            <mat-icon aria-label="Delete">delete</mat-icon>
          </button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>



  <ng-template #viewLeaveForm>
    <mat-dialog-actions class="closepopup">
      <button (click)="closepopup()" mat-button color="primary" matDialogClose matTooltip="Close form
       "> <mat-icon>close</mat-icon></button>
    </mat-dialog-actions>

    <div class="container-fluid d-flex justify-content-center mt-5">
      <div class="card">
        <h1 class="text-center mt-3">Apply For Leave</h1>
        <div class="card-body">
          <form [formGroup]="leaveForm" (ngSubmit)=" onSubmit()">
            <div class="row">
              <h2 style="font-family: 'Poppins', sans-serif;">Leave Date</h2>
              <div class="col-12">
                <label for="">From</label>
                <div>
                  <input type="date" style="background: aliceblue;" class="form-control" name="startDate"
                    formControlName="startDate"
                    [ngClass]="{ 'is-invalid': f['startDate'].touched && f['startDate'].errors, 'is-valid': f['startDate'].valid }">
                  <small class="text-danger"  *ngIf="f['startDate'].touched  && f['startDate'].errors || f['startDate'].dirty && f['startDate'].errors"> Date is
                    required</small>

                </div>
                <div>
                  <label for="">To</label>
                  <input type="date" style="background: aliceblue;" class="form-control" name="endDate"
                    formControlName="endDate"
                    [ngClass]="{ 'is-invalid': f['endDate'].touched && f['endDate'].errors, 'is-valid': f['endDate'].valid }">
                  <small class="text-danger"  *ngIf="f['endDate'].touched  && f['endDate'].errors || f['endDate'].dirty && f['endDate'].errors">Date is
                    required</small>
                </div>
              </div>
<!-- 
              <div class="myradio form-check form-check-inline mt-3 well ">
                <input class="form-check-input radio-class" type="radio" name="fullDayOptions" id="inlineRadio1"
                  value="option1" checked />
                <label class="form-check-label" for="inlineRadio1">Full day</label>


                <div class="form-check form-check-inline">
                  <input class="form-check-input radio-class" type="radio" name="fullDayOptions" id="inlineRadio2"
                    value="option4" />
                  <label class="form-check-label" for="inlineRadio2">Half Day</label>
                </div>
              </div> -->
              <div class="mb-3 mt-1">
                <label for="exampleInputPassword1" class="form-label">Reason</label>
                <input type="text" formControlName="Reason" class="form-control" id="exampleInputPassword1" required
                  placeholder="Tell Me The Reason..."
                  [ngClass]="{ 'is-invalid': f['Reason'].touched && f['Reason'].errors, 'is-valid': f['Reason'].valid }"
                  required />

                <small class="text-danger" *ngIf="f['Reason'].touched  && f['Reason'].errors || f['Reason'].dirty && f['Reason'].errors ">
                  Reason required</small>
              </div>
              <div class="btn-toolbar text-center well justify-content-center mt-2">
                <button type="submit" class="btn btn-primary" [disabled]="!leaveForm.valid" >Apply</button>
                <button type="button" class="btn btn-danger" mat-dialog-close type="reset" (click)="onReset()">Cancel</button>
              </div>
            </div>

          </form>
        </div>

      </div>

    </div>

  </ng-template>